/* html pages ------------------------------ */
html,
body{
	margin: 0;
	padding: 0;
}
body{
  color: black;
  background-color: white; 
  background-image: url("bg.gif");
}
.header{
	position: relative;
	margin: 10px;
	padding: 20px;
	border: solid 1px silver;
	background-color: #ffffff;
	width: 760px;
	height: 55px;
}
svg {	
	user-select: none;
}
h1{
	font-size: 18px;
	margin: 0;
}

.github{
	position:absolute;
	top: 18px;
	right: 16px;
	text-align: right;
}
.github > a{
	color: #0099cc;
	text-decoration: none;
}
#graph {
	background-color: white;
	border: solid 1px silver;
	border-radius: 5px;
	margin: 0 10px;
}
footer{
	margin: 20px;
	color: grey;
}
footer > a {
	color: grey;
}